:root {
    --bodyFont: 1.125rem;
    --very-dark-gray: hsl(0, 0%, 17%);
    --dark-gray: hsl(0, 0%, 59%);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Rubik', sans-serif;
    font-size: var(--bodyFont);
    background: url('images/pattern-bg.png') no-repeat;
    background-size: 100% 20rem;
    width: 100%;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position:relative;
    z-index: 2;
}

h1 {
    color: white;
    font-weight: 400;
    font-size: 1.8rem;
    margin: 35px 0;
}

.infoTitle {
    font-size: .875rem;
}

main{
    display: flex;
    flex-direction: column;
    place-items: center;
}

#searchBar {
    width: 270px;
    height: 60px;
    border-radius: 15px 0 0 15px;
    margin-bottom: 24px;
    font-size: 18px;
    padding: 0 28px;
    cursor: pointer;
}

#submitBtn {
    width: 60px;
    height: 60px;
    background: black;
    border-radius: 0 15px 15px 0;
    cursor: pointer;
}

#submitBtn:hover {
    background: var(--very-dark-gray);
}

#searchBar, #submitBtn {
    border: none;
}

#trackInfo {
    display: flex;
    flex-direction: column;
    background: white;
    border-radius: 15px;
    padding: 2rem;
    text-align: center;
    position: relative;
    box-shadow: 0 5px 30px -10px rgba(150,170,180,0.5);
}


@media (min-width: 60rem) {
    #trackInfo {
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    #trackInfo > * {
        padding-right: 2rem;
    }

    #trackInfo > *:not(:nth-child(1)) {
        padding-left: 2rem;
    }

    #trackInfo > *:not(:last-child) {
        border-right: 1px solid hsla(0, 0%, 0%, .15);
    }

        

}

#trackInfo div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: .5rem;
}

.infoTitle {
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 700;
    color: var(--dark-gray);
    letter-spacing: 1.5px;
}

.data {
    display: block;
    margin: 15px 0 0 0;
    font-weight: 500;
    font-size: 20px;
}

#map { 
    width: 100%;
    height: 80vh;
    position: fixed;
    top: 250px;
    z-index: 1;
}

